__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
*.db
*.db-journal
venv/
env/
.venv/
.env
.eggs
*.egg-info
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.git
.gitignore
.github
README.md
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.dockerignore
docker-compose.yaml
Dockerfile
*.md
tests/
test_*.py

